body{
    margin: 0;
    padding: 0;
    display: flex;
}
.left_side{
    border: 1px solid;
    width: 25%;
    height: 99vh;
    box-shadow: 2px 0px 12px black;
    overflow-y: scroll;  
    z-index: 1;  
}
.left_side::-webkit-scrollbar{
display: none;
}
.right_side{
    border: 1px solid;
    width: 75%;
    height: 99vh;
    /* background-color: red; */
    overflow-y: scroll;
}
/* div{
    border: 1px solid;
} */
div,p,a,span{
    font-family:'Trebuchet MS';
}
.heading{
    height: 40px;
    font-size: 26px;
    font-family:'Trebuchet MS';
    padding-top: 9px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    background-color: rgb(0, 183, 255);
    color:white;
}
.points{
    display: flex;
    align-items: center;
    height: 37px;
    background-color: rgb(67, 202, 255);
    color: white;
    transition: all ease 0.2s;
}
.points:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}

p,h1,h2,h3,h4,h5,h6,dl,form,button{
    padding-left: 20px;
    padding-right: 50px;
    font-family:'Trebuchet MS';
}
a{
    text-decoration: none;
}
table,td,th,tr{
    border: 1.5px solid rgb(66, 66, 66);
    border-collapse: collapse;
    height: 7vh;
    width: 60vw;
    margin-left: 70px;
    text-align: center;
}
tr:nth-of-type(even){
background-color: rgba(2, 151, 226, 0.984);
color: white;
}
tr:nth-of-type(odd){
    background-color: rgb(149, 220, 255);
    color: white;
}

h1{
    text-align: center;
    font-size: 40px;  
    color: rgb(32, 203, 255);
}


th{
    font-size: 25px;
    }
@media screen and (min-width:0px) and (max-width:800px){
.left_side{
    display: none;
}
.right_side{
    width: 100%;
}
iframe{
    width: 600px;
}
video{
    width: 400px;
    height: 300px;
}

}

@media screen and (min-width:0px) and (max-width:550px){
iframe{
    width: 300px;
}
.right_side{
    width: 100%;
}
table{
    margin-left: 0px;
}
}

